<p>
    Where is my navbar?
    <a href="../components/menu/menu1/menu1.component.html">hey buggy</a>
</p>

<br>
<br>
<hr>

<label for="status">Active </label>
<input type="radio" id="status" [checked]="status">
<br> {{ status }}

<hr>
<br><br>
<button (click)=clickButton()>or click me</button>

<hr> Two way binding

<input [(ngModel)]="lastname" type="text">
<hr> {{ lastname }}

<hr>
<br>
<h1 *ngIf="status; else notActiveTemplate">Status is true</h1>
<ng-template #notActiveTemplate>
    <p>Status is false:: {{status}}</p>
</ng-template>